.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* Desktop — default 3 columns */
.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/* Tablet — 2 columns */
@media (max-width: 1024px)  {
  .news-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

/* Mobile — 1 column */
@media (max-width: 600px) {
  .news-grid {
    grid-template-columns: 1fr;
  }
}


/* Love Button Styles */

.news-grid .love-btn {
  position: absolute ;
  top: 8px ;
  right: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  min-width: 0;
  padding: 6px;
  border-radius: 50%t;
  transition: background-color 0.2s;
}

.news-grid .love-btn:hover {
  background-color: #ffffff ;
   transform: scale(1.3) ;
}


.love-icon {
  color:  rgb(120, 120, 120);
}

.love-icon.liked {
  color: rgb(255, 63, 63);
}

 .fav-icon {
  color: rgb(255, 255, 255) 
}

 .header .fav-button {
  background-color: rgb(255, 54, 54);
  transition: transform 0.2s ease-in-out;
}

 .header .fav-button:hover {
   transform: scale(1.3) ;
   background-color: rgb(255, 65, 65);
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.3); }
  100% { transform: scale(1); }
}
 

/* Gradient */

.news-grid .gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0,0,0,0));
}

/* Trending Title */

.news-grid .title-css {
  /* position: absolute; */
  margin-bottom: 10px ;
  color: white;
  font-weight: bold;
  z-index: 2;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

/* Tolbar blur */

.header .blur-header {
  background-color: #ffffffda;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
